form {
	border: 3px solid var(--ink);
	padding: var(--space);
	display: grid;
	gap: var(--space);

	.field {
		display: grid;
		gap: 4px;
	}

	label {
		font-size: 0.9em;
		opacity: 0.9;
	}

	input {
		font: inhert;
		font-size: 1.1rem;
		padding: 0.5em 1em;

		border: 3px solid var(--ink);
	}
}

form button {
	justify-self: start;

	font: inherit;
	padding: 0.5em 2em;

	background-color: var(--ink);
	color: var(--paper);
	border: 3px solid var(--ink);
}

form button:hover {
	background-color: var(--color);
	color: var(--ink);
}
